html,
body {
  background-color: lightgrey;
  height: 100%;
}

body {
  font-family: Zent;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: white;
  border-radius: 6px;
  width: 600px;
  padding: 40px;
}

header {
  display: flex;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

header button {
  margin-left: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 20px 10px 20px 0;
  border-bottom: 1px solid #ddd;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
